.title_sec {
  width: 100%;
  background-color: #607eaa;
}

h1,
h3,
h5 {
  font-family: "Roboto Slab", serif;
}

.navbar-brand {
  padding: 15px 15px 15px 170px;
  font-family: "Roboto Slab", serif;
  word-spacing: 8px;
  font-size: 1.75rem;
}

.nav-item {
  padding: 15px 25px 15px 15px;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
}

.navbar-pad {
  padding-right: 75px;
}

.navbar-header {
  background-color: #1c3879;
}

h1 {
  color: #ffffff;
  padding-top: 60px;
  padding-left: 20px;
}

.about {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  padding-top: 60px;
  padding-left: 20px;
}

.proimg {
  height: 470px;
  width: 470px;
}

.cftititle {
  padding: 9% 10% 2% 8%;
  text-align: center;
}

.proimage {
  padding-right: 135px;
}

/* Project section */
.prologo {
  width: 20%;
  float: left;
  margin: 30px;
}

.projects {
  padding: 10px;
}

.cfprojects {
  padding: 50px;
}

.card-head {
  height: 40vh;
}

.projects_title {
  text-align: center;
  padding: 4% 0 3% 0;
}

.prohead {
  padding: 15px 0 8px 0;
}

.proicon {
  padding: 0 10px 25px 0;
}

.keeper {
  padding-top: 30px;
  /* height: 10vh; */
}

.keeplink {
  padding-left: 185px;
}

/* Skillset section */
.skills_sec {
  background-color: #eae3d2;
}

.skills_title {
  text-align: center;
  padding: 5% 0 3% 0;
}

.cfskillset {
  padding: 50px;
}

.skill {
  text-align: center;
}

.card-body {
  height: 50vh;
}

h3,
h5 {
  color: #1c3879;
  margin: 3px;
}

p {
  font-family: "Nunito", sans-serif;
  color: #505050;
}

.gfgimg {
  width: 20%;
}

.cod_pro_img {
  float: left;
  margin: 30px;
}

.cod_pro_head {
  padding-top: 50px;
  padding-left: 30px;
}

.cfprofile {
  padding: 50px;
}

/* Footer contact section */
.cfcontact {
  background-color: #eae3d2;
  padding: 60px;
}

.navbar-footer {
  background-color: #607eaa;
  padding: 1rem;
}

.footercontact {
  padding: 0;
}

.navcon {
  font-family: "Roboto Slab", serif;
  color: #ffffff;
  word-spacing: 8px;
  font-size: 1.75rem;
  padding: 0 20px 0 550px;
  border-left: 300px;
}

.footicon {
  padding: 30px 50px;
}

.contact {
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #505050;
}

.footer_sec {
  text-align: center;
  padding: 4% 10%;
}

.social-icons {
  padding: 0 18px 10px;
}

.copyright {
  font-family: "Nunito", sans-serif;
  margin-top: 30px;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: #1c3879;
}
