.title_sec {
  width: 100%;
  background-color: #607EAA;
}

.navbar-brand {
  padding: 15px 15px 15px 170px;
  font-family: 'Roboto Slab', serif;
  word-spacing: 8px;
  font-size: 1.75rem;
}

.nav-item {
  padding: 15px 25px 15px 15px;
  font-family: 'Nunito', sans-serif;
  font-size: 1.20rem;
}
.navbar-nav{
  padding-right: 150px;
}


.navbar {
  background-color: #1C3879;
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #ffffff;
  padding-top: 60px;
  padding-left: 20px;
}

p {
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  padding-top: 60px;
  padding-left: 20px;
}

.proimg {
  height: 470px;
  width: 470px;
}

.container-fluid {
  padding: 9% 10% 2% 8%;
  text-align: center;
}
.proimage{
  padding-right: 135px;
}

.skills_sec{
  background-color: #EAE3D2;
}
